<form name="dataForm" novalidate="" ng-submit="moveWallet(dataForm)">
  <div class="list">
    <p class="item"><strong>Available balance:</strong> {{balance/10000000 | number:6}} BTCs</p>
    <label class="item item-input item-floating-label" tooltips tooltip-template="Type in a combination of letters (upper/lower case) and numbers, without whitespaces." tooltip-smart="true" title="" ng-class="{ 'has-errors' : dataForm.target.$invalid && dataForm.$submitted}">
      <span class="input-label">Indirizzo di destinazione</span>
      <input type="text" name="target" placeholder="Target wallet address" ng-model="dataForm.target.title" required bc-address/>
    </label>
    <div  class="error-container" ng-show="dataForm.target.$error && dataForm.$submitted" ng-messages="dataForm.target.$error">
      <div ng-messages-include="error-list.html"></div>
    </div>
  </div>
  <div class="padding">
    <button type="submit" ng-disabled="balance == 0 || balance - maxFees < 0" class="button button-block button-positive">Start transfer</button>
  </div>
  <p class="item">
    <strong>Transaction history:</strong><br />
    <ion-list>
      <ion-item ng-repeat="transaction in transactions">
        Id: <a href="https://blockchain.info/tx/:{{transaction.txid}}">{{transaction.txid}}</a><br />
        Amount: {{transaction.amount}}<br />
        Action: {{transaction.action}}<br />
        Date/Time: {{transaction.time}}<br />
        Message: {{transaction.message}}<br />
      </ion-item>
    </ion-list>
  </p>
</form>
