<ion-view title="Main">
  <ion-content>
    <form name="dataForm" novalidate="">
      <div class="list">
        <label tooltips tooltip-template="Type in a 12 words phrase" tooltip-smart="true" class="item item-input item-floating-label" ng-class="{ 'has-errors' : dataForm.secret1.$invalid && dataForm.$submitted}">
          <span class="input-label">First secret</span>
          <input type="text" name="secret1" placeholder="First secret" ng-model="formData.secret1" required secret/>
        </label>
        <div  class="error-container" ng-show="dataForm.secret1.$error && dataForm.$submitted" ng-messages="dataForm.secret1.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <label tooltips tooltip-template="Type in a 12 words phrase" tooltip-smart="true" class="item item-input item-floating-label" ng-class="{ 'has-errors' : dataForm.secret2.$invalid && dataForm.$submitted}">
          <span class="input-label">Second secret</span>
          <input type="text" name="secret2" placeholder="Second secret" ng-model="formData.secret2" required secret/>
        </label>
        <div  class="error-container" ng-show="dataForm.secret2.$error && dataForm.$submitted" ng-messages="dataForm.secret2.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <label class="item item-input item-floating-label" tooltips tooltip-template="Type in the Bitcoin's network address on which the wallet is to be recovered (eg.:https://bws.bitpay.com/bws/api)" tooltip-smart="true" ng-class="{ 'has-errors' : dataForm.target.$invalid && dataForm.$submitted}">
          <span class="input-label">BWS sever address</span>
          <input type="text" name="target" placeholder="eg.:https://bws.bitpay.com/bws/api" ng-model="formData.bwsUrl" required/>
        </label>
        <div  class="error-container" ng-show="dataForm.target.$error && dataForm.$submitted" ng-messages="dataForm.target.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" title="Recover" ng-click="recoverKey(formData)">Recover wallet</button>
      </div>
    </form>
  </ion-content>
  <script id="error-list.html" type="text/ng-template">
    <div class="form-error" ng-message="required">
      <i class="ion-information-circled"></i>
      This field is mandatory.
    </div>
    <div class="form-error" ng-message="twelveWordsValidator">
      <i class="ion-information-circled"></i>
      Type in a 12 words phrase.
    </div>
    <div class="form-error" ng-message="addressValidator">
      <i class="ion-information-circled"></i>
      Type in a combination of letters (upper/lower case) and numbers, without whitespaces.
    </div>
  </script>
</ion-view>
