<ion-view title="ExtendedPrivateKey">
  <ion-content>
    <p class="item"><strong>Chiave estesa:</strong> {{xPrivKey}}</p>
    <div ui-view name="container"></div>
  </ion-content>
  <script id="error-list.html" type="text/ng-template">
    <div class="form-error" ng-message="required">
      <i class="ion-information-circled"></i>
      Questo campo è richiesto.
    </div>
    <div class="form-error" ng-message="number">
      <i class="ion-information-circled"></i>
      Immettere un importo numerico.
    </div>
    <div class="form-error" ng-message="max">
      <i class="ion-information-circled"></i>
      Immettere un importo inferiore a {{balance - maxFees}}.
    </div>
    <div class="form-error" ng-message="min">
      <i class="ion-information-circled"></i>
      Immettere un importo superiore a 600.
    </div>
    <div class="form-error" ng-message="addressValidator">
      <i class="ion-information-circled"></i>
      Immettere, senza spazi, una combinazione di lettere (maiuscole/minuscole) e numeri.
    </div>
  </script>
</ion-view>
