<ion-view title="ExtendedPrivateKey">
  <ion-content>
    <p class="item"><strong>Chiave estesa:</strong> <input name="xprivkey" ng-model="xPrivKey" readonly/></p>
    <div ui-view name="container"></div>
  </ion-content>
  <script id="error-list.html" type="text/ng-template">
    <div class="form-error" ng-message="required">
      <i class="ion-information-circled"></i>
      This field is mandatory.
    </div>
    <div class="form-error" ng-message="number">
      <i class="ion-information-circled"></i>
      Type in a numeric value.
    </div>
    <div class="form-error" ng-message="max">
      <i class="ion-information-circled"></i>
      Type in a number less then {{balance - maxFees}}.
    </div>
    <div class="form-error" ng-message="min">
      <i class="ion-information-circled"></i>
      Type in a number greater then 600.
    </div>
    <div class="form-error" ng-message="addressValidator">
      <i class="ion-information-circled"></i>
      Type in a combination of letters (upper/lower case) and numbers, without whitespaces.
    </div>
  </script>
</ion-view>
