/** Styling for the secret field **/
label.item.has-errors {  
  border-bottom: 2px solid red;
}

/** Styling for the error text and container **/
.error-container {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.spinner-wrap {
  width:100%;
  height:100%;
  text-align:center;
  padding-top: 200px;
}

.icon {
  font-size: 54px;
  color: green;
}